#mainLoginPane, #imgLoginBackground{
	-fx-background-radius:15px;
	-fx-border-color:#ffffff;
	-fx-border-width:3px;
	-fx-border-radius:15px;	
}

#loginPane{
	-fx-background-color:linear-gradient(to left, #02b6de, #024079);
	-fx-opacity: 0.8;
	-fx-background-radius:15px;
	-fx-border-color:#ffffff;
	-fx-border-width:3px;
	-fx-border-radius:15px;	
}

#lblLoginTitle{
	-fx-text-fill:#ffffff;
}

#txtUsername, #txtPassword{
	-fx-background-color:#fffff0;
}

#btnLogin{
	-fx-background-color:linear-gradient(to left, #02b6de, #024079);
	-fx-background-radius:15px;
	-fx-text-fill:#ffffff;
	-fx-text-style:bold;
	-fx-text-size:20px;
	-fx-border-color:#ffffff;
	-fx-border-width:2px;
	-fx-border-radius:15px;	
}